/*index*/

:root {
    --primary-color:#000000;
    --primary-font: 'Sora', sans-serif; 
    --primary-lineheight: '.5rem';
    font-family: 'Poppins', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

body {
    font-family: 'Poppins';
    font-size: 1rem;
}


.nav-pills .nav-link {
    color: #000000;
    text-decoration: none;
}

.nav-pills .nav-link:hover {
    color: #2E86C1;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

.carousel-item {
    position: relative;
    height: 500px;
}

.carousel-item img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    right: 0;
    object-fit: cover;
    object-position: bottom;
}

.carousel-item h5{
    text-transform: uppercase;
}

.main-contain {
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax( 100px, 1fr));
    column-gap: 0;
    row-gap: 0;
    align-items: center;
    background-color: #F6F6F6;
    max-width:100%;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 73px;
    padding-right: 73px;
}

.main-contain-text h2 {
    grid-column: 1/2;
    width: 350px;
    display: flex;
    text-align: end;
    margin: 0 auto;
    text-transform: uppercase;
    font-size: 1.8rem;
    color: #2E86C1;
}

.main-contain-text p {
    grid-column: 2/3;
    display: flex;
    text-align: justify;
}

div.col-md-8 {
    max-width: 100%;
    padding-left: 73px;
    display: absolute;
    padding-top: 50px;
    padding-right: 73px;
    text-align: justify;
}

.line-1 {
    position: relative;
    width: 1200px;
    height: 1px;
    background-color: #43736E;
    align-content: center;
    border-radius: 1px;
    top: 70px;
    left: 30px;
}

div.footer-container {
    border-color: #dee2e6;
    border-style: solid;
    border-width: 1px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax( 100px, 1fr));
    margin: auto;
    column-gap: 0;
    row-gap: 0;
    align-items: center;
    height: 100px;
    background-color: white;
    font-size: 0.8rem;
    line-height: 1.4rem;
    padding-left: 73px;
    padding-right: 73px;
}

div.footer-text a.footer.contact-link {
    grid-column: 1/2;
}

div.footer-ead-icon {
    grid-column: 2/3;
    display: flex;
    justify-content: end;
}

/*index2*/

div.col-lg-6.col-md-8.mx-auto {
    text-align: center;
    font-size: 1.8rem;
    margin: 0 auto;


}

/*index3*/

/*index4*/

