/*index*/

:root {
    --primary-color:#000000;
    --primary-font: 'Sora', sans-serif; 
    --primary-lineheight: '.5rem';
    font-family: 'Poppins', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

body {
    font-family: 'Poppins';
    font-size: 1rem;
}

.nav-pills .nav-link {
    color: #000000;
    text-decoration: none;
}

.nav-pills .nav-link:hover {
    color: #2E86C1;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

.carousel-item {
    position: relative;
    height: 500px;
}

.carousel-item img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    right: 0;
    object-fit: cover;
    object-position: bottom;
}

.carousel-item h5{
    text-transform: uppercase;
}

.carousel-item p{

}

.main-contain {
    background-color: #F6F6F6;
    max-width:100%;
    margin: 0 auto;
    text-align:center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.main-contain-text {
    width: 600px;
    justify-content: center;
    margin: 0 auto;
}

.main-contain h2 {
    
}

.main-contain p {

}

div.footer-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax( 100px, 1fr));
    margin: auto;
    column-gap: 0;
    row-gap: 0;
    align-items: center;
    height: 145px;
    background-color: white;
    font-size: 0.8rem;
    line-height: 1.4rem;
    padding-left: 73px;
    padding-right: 73px;
}

div.footer-text a.footer.contact-link {
    grid-column: 1/2;
}

div.footer-ead-icon {
    grid-column: 2/3;
    display: flex;
    justify-content: end;
}

<!-- index2 -->
<!-- index3 -->
.main-contain {
    max-width:100%;
    margin: 0 auto;
    text-align:center;
    padding-top: 50px;
    padding-bottom: 50px;
}
<!-- index4 -->

